{# vim: set ft=css: #}

{# https://altcha.org/docs/widget-customization/ #}

:root {
    --altcha-border-width: 1px;
    --altcha-border-radius: 3px;
    --altcha-color-base: #2F3541;
    --altcha-color-border: #2F3541;
    --altcha-max-width: 300px;
}
