---
# vim: set ft=html:
layout: layout/base.njk
title: kitsune.ONE Team | Login
permalink: 404.html
---

<div id="k-content">
    <div class="k-canvas">
        <canvas></canvas>
    </div>
</div>

<script src="{{config.www}}/matrix.js"></script>
<script type="text/javascript">
    function http404() {
        if (window.location.pathname.startsWith('/posts/')) {
            const path = window.location.pathname.slice(1);
            window.location = `/#${path}`;  // /posts/ -> /#posts/
            return;
        }

        var matrix = new Matrix('404 NOT FOUND');
        for (var i = 0; i < 100; i++)
            matrix.draw(true);
        setInterval(() => { matrix.draw() }, 50);
    }

    http404();
</script>
