---
# vim: set ft=javascript:
permalink: dashboard.js
---

async function dashboard() {
    const connections = ['gamejolt', 'itch', 'steam'];
    const profile = document.getElementById('profile');

    const response = await fetch('{{config.api}}/dashboard/', {
        credentials: 'include',
    });
    if (response.ok) {
        const data = await response.json();
        if (data.user.is_authenticated) {
            profile.querySelector('.k-username').innerHTML = data.user.displayname;
            for (name of connections) {
                const widget = document.getElementById(name);
                if (data[name]) {
                    widget.querySelector('.k-connect').classList.add('k-hidden');
                    widget.querySelector('.k-disconnect').classList.remove('k-hidden');
                } else {
                    widget.querySelector('.k-disconnect').classList.add('k-hidden');
                    widget.querySelector('.k-connect').classList.remove('k-hidden');
                }
            }
            return;
        }
    }

    document.location.href = '/login/{{config.index}}';
}

document.querySelectorAll('.k-disconnect form').forEach(form => {
    form.addEventListener('htmx:afterRequest', dashboard);
});
dashboard();
