---
# vim: set ft=html:
layout: layout/edit.njk
title: kitsune.ONE Team
---

<div id="k-content">
</div>

<script src="/strftime.js"></script>
<script src="/blog.js"></script>
<script src="/edit.js"></script>
<script type="text/javascript">
    blog(true).then(edit);
</script>
