---
# vim: set ft=html:
layout: layout/base.njk
title: kitsune.ONE Team
---

<div id="k-content">
    <div class="k-section k-bg-dark">
        <h2 id="projects">Projects</h2>

        <a class="k-panel k-one-thirdZ k-stacked k-bg-lighter" href="/k/{{config.index}}">
            <div class="k-card-image">
                <img alt=""
                     src="/image/project/05_02_horizontal_no_sign.jpeg" />
                <div class="k-card-hilight"></div>
            </div>
            <div class="k-card-content k-pad-box">
                <h3>KITSUNETSUKI project</h3>
                KITSUNETSUKI project is a multiplayer-focused arena third-person shooter
                (TPS) game in anime style.
            </div>
            <div class="k-clear"></div>
        </a>

        <div class="k-clear"></div>
    </div>

    <div class="k-section k-bg-light">
        <h2 id="about" class="k-heading">About Us</h2>

        <div class="k-panel k-one-second k-stacked">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                <a href="https://x.com/Yonnji_Nyyoka">
                    <img src="https://cdn.bsky.app/img/avatar/plain/did:plc:z3dsq7ujmv6h4v6xe4uc4t6c/bafkreiconb2er7f4ljagaddrxzlo57ko5m4no64462223usu6plawbhski"
                         class="k-ver-middle k-rounded" width="64" alt="Avatar" />
                </a>
            </div>
            <div class="k-media-content k-pad-box">
                <h3><a href="https://x.com/Yonnji_Nyyoka">Yonnji Nyyoka</a></h3>
                VTuber, Game Developer
            </div>
        </div>

        <div class="k-panel k-one-second k-stacked">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                <a href="https://bsky.app/profile/kumabeer.bsky.social">
                    <img src="https://cdn.bsky.app/img/avatar/plain/did:plc:hczvo5hxui3fioxxihxikl4t/bafkreicpqj4uuuje7dbpvmck6aacsxhpf46vurfliohgsz33fw74axwtyu"
                         class="k-ver-middle k-rounded" width="64" alt="Avatar" />
                </a>
            </div>
            <div class="k-media-content k-pad-box">
                <h3><a href="https://bsky.app/profile/kumabeer.bsky.social">KumaBeer</a></h3>
                3D Artist
            </div>
        </div>

        <div class="k-clear"></div>
    </div>

    <div class="k-section k-bg-dark">
        <h2 id="contact" class="k-heading">Contact Us</h2>

        <div class="k-panel k-one-second k-stacked">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                    <img src="/image/ui/fluxer-symbol-white.png" alt="Fluxer"
                         class="k-ver-middle k-rounded" width="48" />
            </div>
            <div class="k-media-content k-pad-box">
                <h3>Fluxer</h3>
                <a href="https://fluxer.gg/DznmzL2d">fluxer.gg/DznmzL2d</a>
            </div>
        </div>

        <div class="k-panel k-one-second k-stacked">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                <i class="fab fa-reddit k-ver-middle k-icon-big"></i>
            </div>
            <div class="k-media-content k-pad-box">
                <h3>Reddit</h3>
                <a href="https://www.reddit.com/r/kitsunetsuki/">r/kitsunetsuki</a>
            </div>
        </div>

        <div class="k-clear"></div>
    </div>
</div>
