---
# vim: set ft=javascript:
permalink: spa.js
---

async function load(url, push = true) {
    document.querySelectorAll('.k-menu .k-clickable').forEach(link => {
        if (link.getAttribute('href') === url) {
            link.classList.add('k-active');
        } else {
            link.classList.remove('k-active');
        }
    });

    const middle = document.querySelector('#k-middle');
    if (url === '/k/' || url === '/k/index.html') {
        middle.classList.remove('k-compact');
    } else {
        middle.classList.add('k-compact');
    }

    const content = document.querySelector('#k-content');
    content.innerHTML = '';

    const response = await fetch(url);
    if (!response.ok) {
        content.innerHTML = `${response.status}`;
        return;
    }
        
    const html = await response.text();
    if (!html || html.trim().length === 0) {
        content.innerHTML = 'no content';
        return;
    }

    const parser = new DOMParser();
    const doc = parser.parseFromString(html, 'text/html');

    const contentNew = doc.querySelector('#k-content');
    if (!contentNew) {
        content.innerHTML = 'not found';
        return;
    }

    content.innerHTML = contentNew.innerHTML;

    const title = doc.querySelector('title');
    if (title && title.textContent)
        document.title = title.textContent;

    if (push)
        window.history.pushState({route: url, timestamp: Date.now()}, '', url);
}

function onClick(event) {
    event.preventDefault();
    const url = event.currentTarget.getAttribute('href');
    if (window.location.pathname !== url)
        load(event.currentTarget.getAttribute('href'), true);
}

function onPopstate(event) {
    let url = window.location.pathname;
    if (event.state && event.state.route)
        url = event.state.route;
    load(url || '/', false);
}

function init() {
    document.querySelectorAll('.k-clickable').forEach(link => {
        link.removeEventListener('click', onClick);
        link.addEventListener('click', onClick);
    });
    window.addEventListener('popstate', onPopstate);
}

if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', init);
} else {
    init();
}
