// vim: set ft=javascript:

async function me() {
    const loggedin = document.getElementById('loggedin');
    const anonymous = document.getElementById('anonymous');

    const response = await fetch('{{config.api}}/one/me/', {
        credentials: 'include',
    });
    if (response.ok) {
        const data = await response.json();
        if (data.user.is_authenticated) {
            anonymous.classList.add('k-hidden');
            loggedin.classList.remove('k-hidden');
            loggedin.querySelector('.k-username').innerHTML = data.user.displayname;
        } else {
            anonymous.classList.remove('k-hidden');
            loggedin.classList.add('k-hidden');
        }
    } else {
        anonymous.classList.add('k-hidden');
        loggedin.classList.add('k-hidden');
    }
}

document.getElementById('logout').addEventListener('htmx:afterRequest', me);
me();
