---
# vim: set ft=html:
layout: layout/base.njk
title: kitsune.ONE Team | Login
---

<div id="k-content">
    <div class="k-section k-bg-dark">
        <h2 class="k-heading">Login Completed</h2>

        <div class="k-form k-submitable k-bg-lighter k-hor-center">
            <div class="k-hor-center-inside">
                <strong>Authentication completed. Please return to the game.</strong>
            </div>
        </div>

        <div class="k-clear"></div>
    </div>
</div>
