<!-- vim: set ft=html: -->

<div class="k-topbar" id="k-footerbar">
    <span class="k-color">©</span>
    Copyright 2025 <a href="/">kitsune.ONE team</a>.
    All Rights Reserved.

    <div class="k-right">
        <a href="/fankit/{{config.index}}">Fan Kit</a>
    </div>
</div>
