<!-- vim: set ft=html: -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Multiplayer-focused arena third-person shooter (TPS) game in anime style.">

<title>{{ title }}</title>

<link rel="shortcut icon" href="/image/logo/favicon_16.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link href="/style.css" rel="stylesheet" />
<meta name="htmx-config" content='{"selfRequestsOnly": false}'>

<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.7/htmx.min.js" integrity="sha512-IisGoumHahmfNIhP4wUV3OhgQZaaDBuD6IG4XlyjT77IUkwreZL3T3afO4xXuDanSalZ57Un+UlAbarQjNZCTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.7/ext/json-enc.min.js" integrity="sha512-j1k3ETNtJhZQDDFx26zOEVNermFueca+81zGri6ScAdHY2fjY+bbDTpujOxss9XihJpvhFXz6BRUQwmczQhDLw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
