<!-- vim: set ft=html: -->

<div class="k-topbar" id="k-topbar">
    <div class="k-iconbar k-left">
        {# MESSENGER #}
        <span class="k-tooltip" data-tooltip="Fluxer">
            <a href="https://fluxer.gg/DznmzL2d"><i class="fas fa-hashtag"></i></a>
        </span>
        <span class="k-tooltip" data-tooltip="Reddit">
            <a href="https://www.reddit.com/r/kitsunetsuki/"><i class="fa-brands fa-reddit"></i></a>
        </span>

        {# SOCIAL #}
        <span class="k-tooltip" data-tooltip="Bluesky">
            <a href="https://bsky.app/profile/yonnji.kitsune.one"><i class="fa-brands fa-bluesky"></i></a>
        </span>
        <span class="k-tooltip" data-tooltip="X">
            <a href="https://x.com/Yonnji_Nyyoka"><i class="fa-brands fa-x-twitter"></i></a>
        </span>

        {# VIDEO #}
        <span class="k-tooltip" data-tooltip="YouTube Channel">
            <a href="https://www.youtube.com/channel/UCk_tdqQvpyvvXzEVbW9ACLg">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </span>
        <span class="k-tooltip" data-tooltip="Twitch Channel">
            <a href="https://www.twitch.tv/yonnji"><i class="fa-brands fa-twitch"></i></a>
        </span>

        {# GAME #}
        <span class="k-tooltip" data-tooltip="itch.io Page">
            <a href="https://kitsune-one.itch.io/"><i class="fa-brands fa-itch-io"></i></a>
        </span>
        <span class="k-tooltip" data-tooltip="Taiga Roadmap">
            <a href="https://tree.taiga.io/project/kitsuneone-kitsunetsuki-task-board/kanban">
                <i class="fa-solid fa-bars-progress"></i>
            </a>
        </span>

        {# DONATIONS #}
        <span class="k-tooltip" data-tooltip="Donate">
            <a href="/k/donate/{{config.index}}"><i class="fa-brands fa-bitcoin"></i></a>
        </span>
    </div>

    <div id="loggedin" class="k-linkbar k-right k-hidden">
        <a class="k-ilink" href="/">
            <i class="fas fa-user"></i>
            <span id="username"></span>
        </a>
        <a id="logout" class="k-ilink" href="{{config.api}}/one/logout/"
           hx-post="{{config.api}}/one/logout/"
           hx-request='{"credentials": true}'
           hx-trigger="click">
            <i class="fas fa-sign-out-alt"></i>
            Logout
        </a>
    </div>
    <div id="anonymous" class="k-linkbar k-right k-hidden">
        <a class="k-ilink" href="/login/{{config.index}}">
            <i class="fas fa-sign-in-alt"></i>
            Login / Sign Up
        </a>
    </div>
</div>

<script>
    {% include 'js/me.js.njk' %}
</script>
