{# vim: set ft=css: #}

{# https://altcha.org/docs/widget-customization/ #}

.altcha-main {
    --altcha-border-width: 0;
    --altcha-border-radius: 0;
    --altcha-color-base: {{col_gray4}};
    --altcha-color-base-content: #fff;
    --altcha-color-border: {{col_gray4}};
    --altcha-max-width: 300px;
}

.altcha-main .altcha-switch:focus-within {
    outline: 2px solid {{fg_link_hover}};
}
