<!DOCTYPE html>
<!-- vim: set ft=html: -->
<html lang="en">
    <head>
        {% include "head.njk" %}
    </head>
    <body>
        <div class="k-container-outer">
            <div class="k-spacer"></div>
            <div class="k-container-inner">
                {% include 'topbar.njk' %}
                {% include 'menubar.njk' %}
                {{ content | safe }}
                {% include 'footer.njk' %}
            </div>
            <div class="k-spacer"></div>
        </div>
    </body>
</html>
