<!DOCTYPE html>
<!-- vim: set ft=html: -->
<html lang="en">
    <head>
        {% include 'head.njk' %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/5.1.0/css/froala_editor.min.css" integrity="sha512-hENW8zNxK5INHa4IDR5wCnfW+rMsravqZm5v+cheuzZUgdFOfccJ/TCaPgrlfnTGwG6p+yap6bWRiNhQlOb8mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/5.1.0/css/themes/dark.min.css" integrity="sha512-k7v2vKXykS64Xdh0oKhPaONZBfHv8dPSrou8kquVhf2wwHqcJ4p4x6s7uI4dgwwUwHFM4dIeNbX8Qq7e8Hn8ig==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/5.1.0/js/froala_editor.min.js" integrity="sha512-f0ULBEmVfyUqrpeArZbv6St7PTFWLv11HbLa6pLeV7fYEOzSeLWPHRifkoHgQc8CN3kB7Q8VFGqymplLoxl/WQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/5.1.0/js/plugins/save.min.js" integrity="sha512-nhQ7w3+DXlbHnJxH/z+ZxTe6rdCwlkY47T9Due/eT0pzxh5p1mg0bJ6nJfT7eYegGNtcqBg36+G8HQnUHpPyhg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/5.1.0/js/plugins/image.min.js" integrity="sha512-LyTahOreEJqSWnH6jtThwhqqvMOVGftzRLx5fMDgBeZKgP3P/LoEKQVLhQxuUVqDrNOgMJNDBcExhF6sBQ9Xgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/5.1.0/js/plugins/link.min.js" integrity="sha512-h0SuroGdfJj8Jma7eH1PAUq3sM3cyV35rDQV/offrprH2yrpcf19E50cHTtTLsVTb8OmMOSAYh+fnC7pG1hTGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <div class="k-container-outer">
            <div class="k-spacer"></div>
            <div class="k-container-inner">
                {% include 'topbar.njk' %}
                {% include 'menubar.njk' %}
                {{ content | safe }}
                {% include 'footer.njk' %}
            </div>
            <div class="k-spacer"></div>
        </div>
    </body>
</html>

