<!DOCTYPE html>
<!-- vim: set ft=html: -->
<html lang="en">
    <head>
        {% include 'head.njk' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.min.js" integrity="sha512-sNylduh9fqpYUK5OYXWcBleGzbZInWj8yCJAU57r1dpSK9tP2ghf/SRYCMj+KsslFkCOt3TvJrX2AV/Gc3wOqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/summernote-lite.min.css" integrity="sha512-ySljI0ZbsJxjJIpfsg+7ZJOyKzBduAajCJpc4mBiVpGDPln2jVQ0kwYu3e2QQM5fwxLp6VSVaJm8XCK9uWD4uA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/summernote-lite.min.js" integrity="sha512-sIOi8vwsJpzCHtHd06hxJa2umWfY1FfEEE0nGAaolGlR73EzNnQaWdijVyLueB0PSnIp8Mj2TDQLLHTiIUn1gw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/2.0.3/beautify-html.min.js" integrity="sha512-vTUn2TVYOxd8+RmcQhZ3GbZAlOLI+WLvVnZ6CR2EQmJ1nVwUN4DeqfteBQfpriIUEMaCHWePgf706r0K0N+EKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <div class="k-container-outer">
            <div class="k-spacer"></div>
            <div class="k-container-inner">
                {% include 'topbar.njk' %}
                {% include 'menubar.njk' %}
                {{ content | safe }}
                {% include 'footer.njk' %}
            </div>
            <div class="k-spacer"></div>
        </div>
    </body>
</html>
