<!DOCTYPE html>
<!-- vim: set ft=html: -->
<html lang="en">
    <head>
        {% include 'head.njk' %}
    </head>
    <body>
        <div class="k-container-outer">
            <div class="k-spacer"></div>
            <div class="k-container-inner">
                {% include 'topbar.njk' %}
                {% include 'k/menubar.njk' %}
                {{ content | safe }}
                {% include 'footer.njk' %}
            </div>
            <div class="k-spacer"></div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/k.js"></script>
    </body>
</html>
