<!-- vim: set ft=html: -->

<div class="k-menubar" id="k-menubar">
    <div class="k-logo">
        <span class="k-ver-middler"></span>
        <a href="/k/{{config.index}}" class="k-clickable">
            <img alt="KITSUNETSUKI project Logo" class="k-ver-middle" height="64"
                 src="/image/ui/icon_64.png" />
        </a>
    </div>

    <div class="k-menu">
        <ul>
            {% for item in menubar_k %}<li>
                <a class="k-clickable {% if item.url == page.url %}k-active{% endif %}"
                   href="{{item.url}}{{config.index}}"
                   hx-get="{{item.url}}{{config.index}}" hx-push-url="true"
                   hx-target="#k-content" hx-select="#k-content"
                   @click="return false">
                    {{item.label}}
                </a>
            </li>{% endfor %}
        </ul>
    </div>

    <div class="k-clear"></div>
</div>
