<!-- vim: set ft=html: -->

<div class="k-section k-bg-kitsune">
    <div class="k-ver-expand k-aligner">
        <h2 class="k-heading">KITSUNETSUKI project</h2>
        <p>
            KITSUNETSUKI project is a multiplayer-focused arena third-person shooter
            (TPS) game in anime style.
        </p>
        <p class="k-align-bottom-right">
            {# indie db widget #}
            <a href="https://www.indiedb.com/games/kitsunetsuki-project"
               title="View KITSUNETSUKI project on Indie DB" target="_blank">
                <img src="https://button.indiedb.com/popularity/medium/games/63456.png"
                     alt="KITSUNETSUKI project" />
            </a>
        </p>
    </div>
</div>
