---
# vim: set ft=html:
layout: layout/k.njk
title: KITSUNETSUKI project
index: index.html
---

<div id="k-middle">
    {% include "k/middle.njk" %}
</div>

<div id="k-content">
    <div class="k-section k-bg-dark">
        <h2>Features</h2>

        <div class="k-panel k-one-third k-ver-short k-stacked k-bg-lighter">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                <i class="fas fa-users k-ver-middle k-icon-big"></i>
            </div>
            <div class="k-media-content k-pad-box">
                <h3>Online Multiplayer</h3>
                Up to 16 players in the match or 8vs8 in team fights.
            </div>
        </div>

        <div class="k-panel k-one-third k-ver-short k-stacked k-bg-lighter">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                <i class="fas fa-running k-ver-middle k-icon-big"></i>
            </div>
            <div class="k-media-content k-pad-box">
                <h3>Parkour mechanics</h3>
                Vertical gameplay with walljump and wallrun mechanics.
            </div>
        </div>

        <div class="k-panel k-one-third k-ver-short k-stacked k-bg-lighter">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                <i class="fas fa-flag-checkered k-ver-middle k-icon-big"></i>
            </div>
            <div class="k-media-content k-pad-box">
                <h3>Multiple game modes</h3>
                Free For All, DeathMatch, Raise The Flag and much more...
            </div>
        </div>

        <div class="k-panel k-one-third k-ver-short k-stacked k-bg-lighter">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                <i class="fas fa-crosshairs k-ver-middle k-icon-big"></i>
            </div>
            <div class="k-media-content k-pad-box">
                <h3>Evasive gun style</h3>
                Fast paced evasive gun style with many dodge moves.
            </div>
        </div>

        <div class="k-panel k-one-third k-ver-short k-stacked k-bg-lighter">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                <i class="fas fa-tshirt k-ver-middle k-icon-big"></i>
            </div>
            <div class="k-media-content k-pad-box">
                <h3>Character customization</h3>
                Multiple races. No gender-locked classes. No premade characters.
            </div>
        </div>

        <div class="k-panel k-one-third k-ver-short k-stacked k-bg-lighter">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                <i class="fas fa-user-ninja k-ver-middle k-icon-big"></i>
            </div>
            <div class="k-media-content k-pad-box">
                <h3>Not only guns</h3>
                Multiple melee weapon types to surpass the gun players.
            </div>
        </div>

        <div class="k-clear"></div>
    </div>

    <div class="k-section k-bg-light">
        <h2>System Requirements</h2>

        <div class="k-panel k-one-second k-ver-medium k-stacked">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                <img alt="Windows" class="k-ver-middle k-icon-big" width="64" height="64"
                     src="/image/ui/win_64.png" />
            </div>

            <div class="k-media-content k-pad-box">
                <strong>OS:</strong> Windows 10 or later (64-bit only)<br />
                <strong>CPU:</strong> Intel i5 or alternative<br />
                <strong>RAM:</strong> 4Gb<br />
                <strong>GPU:</strong> OpenGL/GLSL 3.2 compatible<br/>
                <ul>
                    <li>NVIDIA GeForce 400-series or later</li>
                    <li>AMD Radeon 5000-series or later</li>
                    <li>Intel HD 4200 or later</li>
                </ul>
            </div>
        </div>

        <div class="k-panel k-one-second k-ver-medium k-stacked">
            <div class="k-media-image k-hor-center-inside">
                <span class="k-ver-middler"></span>
                <img alt="Linux" class="k-ver-middle k-icon-big" width="64" height="64"
                     src="/image/ui/lin_64.png" />
            </div>

            <div class="k-media-content k-pad-box">
                <strong>OS:</strong> Ubuntu Linux 22.04 or later (64-bit only)<br />
                <strong>CPU:</strong> Intel i5 or alternative<br />
                <strong>RAM:</strong> 4Gb<br />
                <strong>GPU:</strong> OpenGL/GLSL 3.2 compatible<br/>
                <ul>
                    <li>NVIDIA GeForce 400-series or later</li>
                    <li>AMD Radeon 5000-series or later</li>
                    <li>Intel HD 4200 or later</li>
                </ul>
            </div>
        </div>

        <div class="k-clear"></div>
    </div>
</div>
