---
# vim: set ft=html:
layout: layout/k.njk
title: KITSUNETSUKI project | Matches
---

<div id="k-middle" class="k-compact">
    {% include 'k/middle.njk' %}
</div>

<div id="k-content">
    <div class="k-section k-bg-dark">
        <h2 class="k-heading">Last matches</h2>

        <div class="k-panel k-hor-center">
            <table id="matches" class="k-table">
            <tr class="k-bg-lighter">
                <th>
                    <div class="k-icon-small"></div>
                    Started Time
                </th>
                <th>Mode</th>
                <th>Duration</th>
                <th>Level</th>
                <th>Winner</th>
                <th>Score</th>
            </tr>
            </table>
        </div>
    </div>
</div>
