---
# vim: set ft=html:
layout: layout/k.njk
title: KITSUNETSUKI project | Matches
index: index.html
---

<div id="k-middle" class="k-compact">
    {% include "k/middle.njk" %}
</div>

<div id="k-content">
    <div class="k-section k-bg-dark">
        <h2 class="k-heading">Last matches</h2>

        <div class="k-panel k-hor-center">
            <table class="k-table">
            <tr class="k-bg-lighter">
                <th>
                    <div class="k-icon-small"></div>
                    Started Time
                </th>
                <th>Mode</th>
                <th>Duration</th>
                <th>Level</th>
                <th>Winner</th>
                <th>Score</th>
            </tr>
            {% for match in matches %}
                <tr class="k-bg-light">
                    <td class="k-cell-m">
                        <div class="k-icon-small"><i class="fas fa-dice-d6"></i></div>
                        {created}}
                    </td>
                    <td class="k-upper">
                        {{mode}}
                    </td>
                    <td>
                        {{time}}:00
                    </td>
                    <td class="k-upper">
                        {{level}}
                    </td>
                    <td>
                        {% for player in players %}
                            [ {{n}} ]
                        {% endfor %}
                        {% for team in teams %}
                            <span class="k-blue">[ {{winner.n}} ]</span>
                            vs
                            <span class="k-red">[ {{loser.n}} ]</span>
                        {% endfor %}
                    </td>
                    <td class="k-cell-xs k-align-right">
                        {% for player in players %}
                            {{k}}
                        {% endfor %}
                        {% for team in teams %}
                            {{winner.k}} : {{loser.k}}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
