---
# vim: set ft=html:
layout: layout/k.njk
title: KITSUNETSUKI project | Media
---

<div id="k-middle" class="k-compact">
    {% include 'k/middle.njk' %}
</div>

<div id="k-content">
    <div class="k-section k-bg-light">
        <h2 class="k-heading">Media</h2>

        <p class="k-heading k-title">
            --- WORK IN PROGRESS ---
        </p>
    </div>
</div>
