---
# vim: set ft=html:
layout: layout/k.njk
title: KITSUNETSUKI project | Servers
---

<div id="k-middle" class="k-compact">
    {% include 'k/middle.njk' %}
</div>

<div id="k-content">
    <div class="k-section k-bg-dark">
        <h2 class="k-heading">Servers Status</h2>

        <div class="k-panel k-one-second k-hor-center">
            <table id="servers" class="k-table" border="0">
                <tr class="k-bg-lighter">
                    <th>
                        <div class="k-icon-small"></div>
                        Server Name
                    </th>
                    <th>Data Center</th>
                    <th>Mode</th>
                    <th>
                        <div class="k-icon-small"></div>
                        Status
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>
